<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationShortcutItems</key>
    <array>
        <dict>
            <key>UIApplicationShortcutItemIconFile</key>
            <string>xl_home_shortcut_icon</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>回家</string>
            <key>UIApplicationShortcutItemType</key>
            <string>home_shortcut</string>
        </dict>
        <dict>
            <key>UIApplicationShortcutItemIconFile</key>
            <string>xl_company_shortcut_icon</string>
            <key>UIApplicationShortcutItemTitle</key>
            <string>去公司</string>
            <key>UIApplicationShortcutItemType</key>
            <string>company_shortcut</string>
        </dict>
    </array>
</dict>
</plist>
